.rotating-box{
    width: 150px;
    height: 150px;
    perspective: 1600px;
    margin:auto; 
    position:absolute; 
    bottom:10; 
    left:0;right:0; 
    max-height:100%;
    max-width:100%;  
    animation-duration: 1.5s;/* back to 5.5s */
    animation-name: slidecubein;
    transform: rotate(360deg);
    transform-origin: top left;
  }
  .single-rb{
    width: 50px;
    animation: rotate 4s linear infinite;/*8s */
    transform-style: preserve-3d;
    align-items: center;
    margin-left: 15%;
  }
  .single-rb div{
    position: absolute;
    width: 150px;
    height: 150px;
    color: white;
  }
  .front-side{
    transform: translateZ(75px);
    width: 50px;
    height: 50px;
    background-color: #F37219;
  }
  .back-side{
    transform: rotateY(180deg) translateZ(75px);
    width: 50px;
    height: 50px;
    background-color: #F37219;
  }
  .left-side{
    transform: rotateY(-90deg) translateX(-75px);
    transform-origin: left;
    width: 50px;
    height: 50px;
    background-color: #d35409;
  }
  .right-side{
    transform: rotateY(90deg) translateX(75px);
    transform-origin: right;
    width: 50px;
    height: 50px;
    background-color: #d35409;
  }
  .top-side{
    transform: rotateX(-90deg) translateY(-75px);
    transform-origin: top;
    width: 50px;
    height: 50px;
    background-color: #F37219;
  }
  .bottom-side{
    transform: rotateX(90deg) translateY(75px);
    transform-origin: bottom;
    width: 50px;
    height: 50px;
    background-color: #d35409;
  }
  .h_logo{
    font-size:145px;
    text-shadow:0 1px 0 #d9d9d9,0 2px 0 #d0d0d0,0 5px 10px rgba(0,0,0,0.125),0 10px 20px rgba(0,0,0,0.2);
    text-align: center;
    margin-top: -12.5px;
  } 